/*
avi

avi api swagger

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ChartAPIService ChartAPI service
type ChartAPIService service

type ApiPairChartsRequest struct {
	ctx context.Context
	ApiService *ChartAPIService
	address *string
	network *NetworkType
	res *ResolutionType
	from *int64
	to *int64
	priceFromQuote *bool
	volumeFromQuote *bool
}

// pair address (format 0x...)
func (r ApiPairChartsRequest) Address(address string) ApiPairChartsRequest {
	r.address = &address
	return r
}

// blockchain network (ethereum, bsc, polygon...)
func (r ApiPairChartsRequest) Network(network NetworkType) ApiPairChartsRequest {
	r.network = &network
	return r
}

// resolution of timeframe
func (r ApiPairChartsRequest) Res(res ResolutionType) ApiPairChartsRequest {
	r.res = &res
	return r
}

// start time
func (r ApiPairChartsRequest) From(from int64) ApiPairChartsRequest {
	r.from = &from
	return r
}

// end time
func (r ApiPairChartsRequest) To(to int64) ApiPairChartsRequest {
	r.to = &to
	return r
}

func (r ApiPairChartsRequest) PriceFromQuote(priceFromQuote bool) ApiPairChartsRequest {
	r.priceFromQuote = &priceFromQuote
	return r
}

func (r ApiPairChartsRequest) VolumeFromQuote(volumeFromQuote bool) ApiPairChartsRequest {
	r.volumeFromQuote = &volumeFromQuote
	return r
}

func (r ApiPairChartsRequest) Execute() (*ChartCandles, *http.Response, error) {
	return r.ApiService.PairChartsExecute(r)
}

/*
PairCharts price charts for dex pair

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPairChartsRequest
*/
func (a *ChartAPIService) PairCharts(ctx context.Context) ApiPairChartsRequest {
	return ApiPairChartsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ChartCandles
func (a *ChartAPIService) PairChartsExecute(r ApiPairChartsRequest) (*ChartCandles, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChartCandles
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChartAPIService.PairCharts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dex/price-charts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.address == nil {
		return localVarReturnValue, nil, reportError("address is required and must be specified")
	}
	if strlen(*r.address) < 20 {
		return localVarReturnValue, nil, reportError("address must have at least 20 elements")
	}
	if r.network == nil {
		return localVarReturnValue, nil, reportError("network is required and must be specified")
	}
	if r.res == nil {
		return localVarReturnValue, nil, reportError("res is required and must be specified")
	}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "address", r.address, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "network", r.network, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "res", r.res, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.priceFromQuote != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_from_quote", r.priceFromQuote, "form", "")
	} else {
		var defaultValue bool = false
		r.priceFromQuote = &defaultValue
	}
	if r.volumeFromQuote != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "volume_from_quote", r.volumeFromQuote, "form", "")
	} else {
		var defaultValue bool = true
		r.volumeFromQuote = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v APIErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
